<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AnimalCrossing</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (Session["Email"] == null)
    {
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    @Html.ActionLink("Accueil", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Habitants", "Affichage", "Student")</li>
                    <li>@Html.ActionLink("Explorer", "ShowExplorerView", "Home")</li>
                    <li>@Html.ActionLink("Celebre", "ShowCelebreView", "Home")</li>
                    <li>@Html.ActionLink("Mise à jour", "ShowMAJView", "Home")</li>
                    <li>@Html.ActionLink("Transfert de données", "ShowTransfertView", "Home")</li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Connexion", "Index", "Login")</li>
                </ul>
            </div>
        </nav> }
    else
    {
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    @Html.ActionLink("Accueil", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Villageois", "Index", "Student")</li>
                    <li>@Html.ActionLink("Utilisateurs", "Index", "Utilisateur")</li>
                    <li>@Html.ActionLink("Profil", "ShowAccueilView", "Login")</li>
            
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Connexion", "Index", "Login")</li>
                </ul>
            </div>
        </nav>
    }

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AnimalCrossing</p>
        </footer>
    </div>

    <script src="~/FrontEnd/vendor/jquery/jquery.min.js"></script>
    <script src="~/FrontEnd/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/FrontEnd/js/grasp_mobile_progress_circle-1.0.0.min.js"></script>
    <script src="~/FrontEnd/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/FrontEnd/vendor/chart.js/Chart.min.js"></script>
    <script src="~/FrontEnd/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/FrontEnd/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/FrontEnd/js/charts-home.js"></script>
    <script src="~/FrontEnd/monjs/Login.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>