@model AnimalCrossing.Models.Utilisateur

@{
    ViewBag.Title = "Delete";
}

<h2 class="borduretxt">Suppression</h2>

<h3>Voulez-vous vraiment supprimer cet utilisateur?</h3>
<div>

    <hr />
  
    <table class="table">
        <tr>
            <th>
                Pseudo
            </th>
            <th>
                Adresse e-mail
            </th>
            <th>
                Mot de passe
            </th>
            <th>
                Nom de l'île
            </th>
            <th>
                Hémisphère
            </th>
            <th>
                Fruit d'origine
            </th>
            <th>
                Statut de l'utilisateur
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.pseudo)
            </td>
            <td>
                @Html.DisplayFor(model => model.email)
            </td>
            <td>
                @Html.DisplayFor(model => model.mdp)
            </td>
            <td>
                @Html.DisplayFor(model => model.ile)
            </td>
            <td>
                @Html.DisplayFor(model => model.hemisphere)
            </td>
            <td>
                @Html.DisplayFor(model => model.fruit)
            </td>
            <td>
                @Html.DisplayFor(model => model.statut)
            </td>
        </tr>
    </table>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn font-weight-bold bg-success text-dark  text-capitalize" /> |
            @Html.ActionLink("Retour à la liste principale", "Index")
        </div>
    }
</div>
