@model AnimalCrossing.Models.Utilisateur

@{
    ViewBag.Title = "Details";
}
<br /><br />
<h2 class="borduretxt">Détails de l'utilisateur</h2>

<div>
    <hr />
 
    <table class="table">
        <tr>
            <th>
                Pseudo
            </th>
            <th>
                Adresse e-mail
            </th>
            <th>
                Mot de passe
            </th>
            <th>
                Nom de l'île
            </th>
            <th>
                Hémisphère
            </th>
            <th>
                Fruit d'origine
            </th>
            <th>
                Statut de l'utilisateur
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.pseudo)
            </td>
            <td>
                @Html.DisplayFor(model => model.email)
            </td>
            <td>
                @Html.DisplayFor(model => model.mdp)
            </td>
            <td>
                @Html.DisplayFor(model => model.ile)
            </td>
            <td>
                @Html.DisplayFor(model => model.hemisphere)
            </td>
            <td>
                @Html.DisplayFor(model => model.fruit)
            </td>
            <td>
                @Html.DisplayFor(model => model.statut)
            </td>
        </tr>
    </table>

</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Retour à la liste principale", "Index")
</p>
