@model IEnumerable<AnimalCrossing.Models.Utilisateur>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />
<br />
<div class="jumbotron text-center">
    <h1>Liste des collaborateurs du site web</h1>
    <h4>
        Cliquez sur
        @Html.ActionLink("Create New", "Create")
        pour ajouter un nouvel utilisateur dans la liste
    </h4>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pseudo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mdp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hemisphere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fruit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statut)
        </th>
        <th>Fonctionnalitées</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pseudo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mdp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hemisphere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fruit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.statut)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
