@model IEnumerable<AnimalCrossing.Models.Utilisateur>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />
<br />
<div class="jumbotron text-center">
    <h1>Liste des collaborateurs du site web</h1>
    <h4 class="text-center">
        @using (Html.BeginForm())
        {
            @Html.TextBox("SearchString", null, new { @class = "form-control center-block", @placeholder = "Recherche" })<br />
            <input type="submit" class="btn" value="Recherche">
        }
    </h4>
</div>
<h4>
    Cliquez sur
    @Html.ActionLink("créer un nouveau collaborateur", "Create")
    pour ajouter un nouvel utilisateur dans la liste
</h4>
<table class="table">
    <tr>
        <th>
            Pseudo 
        </th>
        <th>
           Adresse e-mail
        </th>
        <th>
            Mot de passe
        </th>
        <th>
           Nom de l'île
        </th>
        <th>
            Hémisphère
        </th>
        <th>
           Fruit d'origine
        </th>
        <th>
            Statut de collaborateur
        </th>
        <th>Fonctionnalitées</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pseudo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mdp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hemisphere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fruit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.statut)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Détails", "Details", new { id = item.ID }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
