@if (Session["Email"] != null)
{<p>Bonjour @Session["Pseudo"] @Session["Email"] </p>}
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-3 well">
                <div class="well">
                        @if (Session["Email"] != null)
                        {
                        <p>@Session["Pseudo"]</p>
                        }
                    <img src="~/bureau.jpg" class="img-circle" height="65" width="65" alt="Avatar">
                </div>
                <div class="well">
                    <p>Hastag</p>
                    <p>
                        <span class="label label-default">NewHorizon</span>
                        <span class="label label-primary">Amusement</span>
                        <span class="label label-success">ACNH</span>
                        <span class="label label-info">Administration</span>
                        <span class="label label-warning">Gaming</span>
                        <span class="label label-danger">Friends</span>
                    </p>
                </div>
                <div class="alert alert-success fade in">
                    <p class="text-center"><strong>Hey!</strong></p>
                    @if(Session["Email"] != null) {<p>Bonjour @Session["Pseudo"]! Actuellement, vous avez comme statut, le statut de(d') @Session["Statut"].</p> }
                </div>
                <p><a href="https://www.youtube.com/watch?v=_3YNL0OWio0">Bande annonce</a></p>
                <p><a href="https://www.youtube.com/watch?v=fKNpJuNTeRc">Mois de décembre</a></p>
                <p><a href="https://www.youtube.com/watch?v=51LNWMwFB0E">Yétiti parfait</a></p>
            </div>
            <div class="col-sm-7">
                <h4>Informations du compte de votre jeu </h4>
                @if (Session["Email"] != null)
                {
                    <p>Pseudo dans le jeu : @Session["Pseudo"]</p><br />
                    <p>Nom de votre île : @Session["Ile"]</p><br />
                    <p>Fruit d'origine de votre île : @Session["Fruit"]</p><br />
                    <p>Hémisphère où est situé votre île : @Session["Hemisphere"]</p>
                    }

            </div>
            <div class="col-sm-2 well">
                <div class="thumbnail">
                    <p>Evenement</p>
                    <img src="~/yetiti.jpg" alt="Decembre" width="400" height="300">
                    <p><strong>Yétiti et saison des flocons de neiges + boules de sapin</strong></p>
                    <p>Du 15 décembre 2020 au 6 janvier 2021</p>
                    <button class="btn btn-primary">Info</button>
                </div>
                <div class="well">
                    <p>ADS</p>
                </div>
                <div class="well">
                    <p>ADS</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>

</body>
</html>


