@model AnimalCrossing.Models.Student

@{
    ViewBag.Title = "Delete";
}
<br /><br />
<h2 class="borduretxt">Suppression</h2>

<h3>Voulez-vous vraiment supprimer ce personnage?</h3>
<div>
    <hr />
  
<table class="table">
    <tr>
        <th>
            Nom de villageois
        </th>
        <th>
            Espèce
        </th>
        <th>
            Personnalité
        </th>
        <th>
            Genre
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.nomhabitant)
        </td>
        <td>
            @Html.DisplayFor(model => model.espece)
        </td>
        <td>
            @Html.DisplayFor(model => model.personnalite)
        </td>
        <td>
            @Html.DisplayFor(model => model.genre)
        </td>
    </tr>
</table>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" class="btn font-weight-bold bg-success text-dark  text-capitalize" /> | 
                @Html.ActionLink("Retour à la liste principale", "Index")
            </div>
        }
</div>
