@model AnimalCrossing.Models.Student

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<h2 class="borduretxt">Détails du personnage</h2>

<table class="table">
    <tr>
        <th>
            Nom de villageois
        </th>
        <th>
            Espèce
        </th>
        <th>
            Personnalité
        </th>
        <th>
            Genre
        </th>
    </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.nomhabitant)
            </td>
            <td>
                @Html.DisplayFor(model => model.espece)
            </td>
            <td>
                @Html.DisplayFor(model => model.personnalite)
            </td>
            <td>
                @Html.DisplayFor(model => model.genre)
            </td>
        </tr>
    </table>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Retour à la liste principale", "Index")
</p>
