@model AnimalCrossing.Models.Student

@{
    ViewBag.Title = "Edit";
}
<br /><br />
<h2 class="borduretxt">Modifier le personnage sélectionné</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.nomhabitant, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nomhabitant, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nomhabitant, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.espece, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.espece, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.espece, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.personnalite, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.personnalite, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.personnalite, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.genre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.genre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.genre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sauvegarder les modifications" class="btn font-weight-bold bg-success text-dark" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Retour à la liste principale", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
